{{ define "main" }}
<div class="general-container">
    <h2>{{ .Title }}</h2>
    <div class="search-container">
        <div class="search-wrapper">
            <img src="{{ "svg/ui/search.svg" | relURL }}" alt="" class="search-icon">
            <input type="text" class="search-input" placeholder="Pesquisar autores..." aria-label="Pesquisar">
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="user-grid-alt" id="authorsGrid">
                <!-- Pagefind -->
            </div>
        </div>
    </div>
</div>
{{- $search := resources.Get "js/search.js" | minify | fingerprint -}}
<script src="{{ $search.RelPermalink }}"></script>
<script>
  new SearchSystem({
    resultsSelector: '#authorsGrid',
    itemSelector: '.user-card',
    pagefindPath: "{{ "pagefind/pagefind.js" | relURL }}"
  });
</script>
{{ end }}